<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="static/fontawesome/css/all.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/static/css/stylee.css">
    <link rel="icon" type="image/jpg" sizes="100x100" href="static/images/nefsti.jpg">
    <title>HOME</title>
    <style>
      a{
        text-decoration: none;
        color:black;
      }
      .na{
        padding: 40px;
      }
      .name{
        color: orange;
      }
      .test{
        height: 500px;
        background-color: rgb(242, 239, 239);
      }

#yy{
			color:orangered;height:4px;width: 50px;
		}
.benefit{
    background-color: #ee8c2a;
    
}
.im{
  margin-top: -100px;
}

.t{
    margin-top: -50px;
    gap: 20px;
}
.y{
             min-height: 700px;
			background-image:url("static/images/mine.jpg");
			background-size:cover;
			background-attachment: fixed;

}
.let{
  min-height: 500px;
			background-image:url("static/images/nefti5.jpg");
			background-size:100% 110%;
			

}
#backToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}

#backToTopBtn a {
    text-decoration: none;
    color: #fff;
}
    </style>
</head>
<body>
    <div class="container-fluid body">
       
      
        <nav class="navbar navbar-dark bg-light fixed-top  two">
                    <div class="container-fluid">
                      <a class="navbar-brand" href="/"><img src="static/images/nefsti2.png"  class="" style="height: 120px;" ></a>
                      <button class="navbar-toggler btn btn-dark" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon btn btn-dark"></span>
                        </button>
                        <div class="offcanvas offcanvas-end text-bg-light" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
                        <div class="offcanvas-header bg-dark">
                          <h5 class="offcanvas-title text-light" id="offcanvasDarkNavbarLabel">MENU</h5>
                          <button type="button" class="btn btn-outline-light" data-bs-dismiss="offcanvas" aria-label="Close">X</button>
                        </div>
                        <div class="offcanvas-body bg-dark">
                          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                          <li class="nav-item">
                            <a class="nav-link active " aria-current="page" href="/">HOME</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link " href="/about">ABOUT US</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link " href="/contact">CONTACT US</a>
                            </li>
                          
                          
                            </ul>
                          </li>text-dark
                          </ul>
                          
                        </div>
                        </div>
                      </div>
           
                 </nav>
                 <div class="row  y">
                    <div id="o" style="margin-top:0px;flex-direction:column">
				
                        <div class="col-md-12 d-flex justify-content-end"><div class="col text-center text-light " style="font-size: 60px;margin-top: 250px;">
                           
                            <p id="ii"> HARNESS THE POWER OF THE SUN <i class="fa-solid fa-sun fa-spin fa-lg" style="color: #f7c279;"></i></p><h2>FREE YOURSELF FROM RISING ELECTRICITY COST</h2><h3> GO SOLAR TODAY!</h3>
                            <a href="/contact" class="btn btn-outline-warning mb-5">GET STATED</a>
                        </div>
                          

                            
                    </div>
                 </div>
                 </div>
                 <div class="row justify-content-center text-center  t" >
                    <div class="col-md-2 benefit " >
                       
                    
                        <h4> <b>Reduced Electricity Bills</b></h4>
                        <i class="fa-solid fa-sack-dollar  fa-beat fa-3x mb-5 mt-3" style="color: #0b0c0f;"></i>
                        <p>Solar panels enable you to generate your own electricity, which can substantially reduce your reliance on grid-supplied power. 
                            This translates to lower electricity bills and potential savings over the system's lifespan.</p>
                    </div>
                    <div class="col-md-2 benefit">
                        
                        
                        <h4> <b>Clean Energy</b></h4>
                        <i class="fa-sharp fa-solid fa-solar-panel fa-beat fa-3x mb-5 mt-3" style="color: #000000;"></i>
                        <p>Solar energy is considered clean and sustainable since it does not produce greenhouse gas emissions or air pollutants. 
                            By choosing solar power, you can contribute to a cleaner environment and help combat climate change.</p>
                    </div>
                    <div class="col-md-2 benefit">
                        
                       
                        <h4> <b>Long-Term Investment</b></h4>
                        <i class="fa-sharp fa-solid fa-building-columns fa-beat fa-3x mb-5 mt-3" style="color: #161718;"></i>
                        <p>Solar panels are designed to be durable and have a long lifespan, often lasting 25 years or more. 
                            Investing in solar energy can be seen as a long-term investment that offers reliable electricity generation and potential savings over many years.</p>
                    </div>
                    <div class="col-md-2  benefit">
                        <h4> <b>Low Maintenance</b></h4>
                        <i class="fa-solid fa-screwdriver-wrench fa-beat fa-3x mb-5 mt-3" style="color: #030303;"></i>
                        <p > Solar panel systems generally require minimal maintenance, with occasional cleaning and inspections being the primary tasks.
                             This reduces ongoing maintenance costs and efforts compared to other energy systems.</p>
                    </div>
                 </div>
                 <div class="row mt-5">
                  <div class="col-md-1"></div>
                  <div class="col-md-4 "><img src="static/images/nefsti4.png" class="img-fluid"></div>
                
                <div class="col-md-4"><h2><b>WHAT WE DO AT NEFSTI ENERGY</b></h2><hr id="yy">
                  <div class="row">
                    <div class="col-md-6"> <p><b>INCREASE SOLAR ENERGY ADOPTION</b></p>
                    <p>The primary goal of Nefsti Energy is to encourage individuals,businesses, and communities to transition to solar energy as a sustainable and clean alternative to conventional energy source
                      By offering reliable solar installations and easy-to-use solar boxes, the company aims to make solar energy accessible to a broader audience
                    </p>
                    </div>
                    <div class="col-md-6"> <p><b>PROMOTE ENERGY INDEPENDENCE</b></p>
                    <p class="mb-5">Our company seeks to empower its customers with the ability to generate their own electricity using solar panels and solar boxes. By reducing dependence on traditional grid-supplied power, the company aims to promote energy self-company aims to promote energy self-sufficiency and resilience</p></div>
                  </div>
              
                </div>
                
                <div class="col-md-3 mt-5 "><img  class="im img-fluid" src="static/images/nef.png" ></div>
                 </div>
                 <div class="row let">
                


                  <div id="p" style="margin-top:0px;flex-direction:column">
				
                    <div class="col-md-12 d-flex justify-content-end"><div class="col text-center text-light " style="font-size: 60px;margin-top: 250px;">
                       <h3>Live Green, Love Green, Think Green.</h3>
                       <a href="" class="btn btn-primary">contact us</a>
                 </div>
                </div>
                </div>
               
               
                </div>
                <div id="backToTopBtn">
                  <a href="#top">^</a>
                  </div>
                <div class="row ">

                  <div class="col-md-3  "></div>
               <div class="col-md-6 test   " > <h2 class="mt-5 mb-5">Testmonials</h2>
                <div class="row">
                  <div class="col-6 "> 
                    <p>I highly recommend Nefti Energy to anyone looking to harness the power of solar energy. Their exceptional service, top-notch products,
                       and dedication to customer satisfaction make them the best choice for anyone interested in going solar. </p>
                       <p class="name mt-4">MR NOSA</p>
                  </div>
                  <div class="col-6 "><P>Since getting the solar panels installed, my energy bills have significantl
                    y decreased, and I am proud to be doing my part for the environment by reducing my carbon footprint. 
                    The system they designed for my home is highly efficient
                    , and I couldn't be happier with the savings and the positive impact it has on the environment.</P>
                    <p class="name">MRS NOSA</p>
                    
                  
                  </div>
                 
                </div>
               
              
              </div> 
              <div class="col-md-3"></div>
                </div>

                <div class="row footer">
                  <div class="row" style="height: 8px;"></div>
                  <div class="col-md-2">
                    
                  </div>
                  <div class="col-md-4 "><h2>Let's Talk!</h2><h6><i class="fa-solid fa-envelope" style="color: #0a0a0b;"></i>  Nefstienergy@gmail.com</h6>
                  <h6><i class="fa-solid fa-location-dot" style="color: #0c0c0e;"></i>  Bolajide Avenue, Gbagada, Lagos State.</h6><h6><i class="fa-sharp fa-solid fa-phone" style="color: #111212;"></i>  08137979796</h6>
                  </div>
                  <div class="col-md-4 "><h3>Support</h3>
                  <p><a href="/"><b>Contact Us</b></a></p>
                <p><a href="/" ><b>About Us</b></a></p>
                <p><b>Privacy Policy</b></p>

                  </div>
                  <div class="col-md-2">
                    <h4 class="">Follow Us</h4>

                    <p><a href="https://instagram.com/nefsti_energy?igshid=ZGUzMzM3NWJiOQ=="><i class="fa-brands fa-square-instagram fa-2x mx-2" style="color: #18191b;"></i>
                    </a><a href="https://www.facebook.com/profile.php?id=100090026813182"><i class="fa-brands fa-facebook fa-2x mx-2" style="color: #1b1c1d;"></i></a>
                    <a href="https://wa.link/dtkc3l"><i class="fa-brands fa-square-whatsapp fa-2x " style="color: #131416;"></i></a></p>
                  </div>
                </div>
                <div class="row foot text-center ">
                  <div class="col mt-5">
                    
                    <b>All Rights Reserved By &copy Nefsti Energy 2023</b> </div>
                </div>
         </div>



    <script type="text/javascript" src="static/bootstrap/js/bootstrap.bundle.js">
	

    </script>
    <script>
      // When the user scrolls down 20px from the top of the document, show the button
      window.onscroll = function() {
          scrollFunction();
      };
  
      function scrollFunction() {
          if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
              document.getElementById("backToTopBtn").style.display = "block";
          } else {
              document.getElementById("backToTopBtn").style.display = "none";
          }
      }
  
      // When the user clicks on the button, scroll to the top of the document
      document.getElementById("backToTopBtn").addEventListener("click", function() {
          document.body.scrollTop = 0; // For Safari
          document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE, and Opera
      });
  </script>
</body>
</html>